# cvat2qwen3vl 依赖
# 数据处理
Pillow>=9.0
pyyaml>=6.0
scikit-learn>=1.0

# ms-swift (训练用)
# ms-swift>=4.0
# transformers>=4.57
# qwen_vl_utils>=0.0.14

# Unsloth (训练用)
# unsloth
# trl>=0.22.0
# peft>=0.7.0
